<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PyPath" value="PYTHON PATH HERE" />
    <add key="ChatUser" value="GET USER KEY PAIR AT" />
    <add key="ChatKey" value="https://cleverbot.io/keys" />
    <add key="Counter" value="../../voteCounter.py" />
    <add key="BookMaker" value="../../bookSonaGen.py" />
      <!--Might need to change. Python file is two directories up from where it's being compiled to in VS. It should be in the same dir-->
 </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>