<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="PyPath" value="PYTHON PATH HERE" />
      <add key="Counter" value="../../voteCounter.py" />
      <add key="BookMaker" value="../../bookSonaGen.py" />
        <!--Might need to change. Python file is two directories up from where it's being compiled to in VS. It should be in the same dir-->
   </appSettings>
</configuration>